p{
    text-align: center;
    /* font */
    font-weight:bolder;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-transform: lowercase;
    text-decoration: underline dashed;
    color:green;
}